<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Editar Detalle</title>

    <!-- Custom fonts for this template-->
    <link href="https://liwru.s3.amazonaws.com/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://liwru.s3.amazonaws.com/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="https://liwru.s3.amazonaws.com/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebar :: sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="/fragments/topbar :: topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <form  action="#" method="POST" >
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">{codigo}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card shadow mb-4">
                                <div class="card-body">

                                    <div class="form-group">
                                        <a>Fecha incidencia</a>
                                        <input type="text" class="form-control form-control-user" id="fechainc" name="fechainc"
                                               value="" placeholder="2021-07-15" disabled>
                                    </div>
                                    <div class="form-group">
                                        <a>Tipo incidencia</a>
                                        <input type="text" class="form-control form-control-user" id="tipoinc" name="tipoinc"
                                               value="" placeholder="QUEJA" disabled>
                                    </div>
                                    <div class="form-group">
                                        <a>Motivo</a>
                                        <input type="text" class="form-control form-control-user" id="motivo" name="motivo" value=""
                                               placeholder="Demora en la atención" disabled>
                                    </div>
                                    <div class="form-group" style="">
                                        <a>Estado</a> <br>
                                        <select class="custom-select custom-select-sm form-control form-control-sm">

                                            <option value="1">Recibido</option>
                                            <option value="2">En Proceso</option>
                                            <option value="3">Resuelto</option>
                                            <option value="3">Rechazado</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <a>Sede</a>
                                        <input type="text" class="form-control form-control-user" id="sede" name="sede" value=""
                                               placeholder="BCP Agencia Tumbes" disabled>
                                    </div>
                                    <div class="form-group">
                                        <a>Agraviado</a>
                                        <input type="text" class="form-control form-control-user" id="agraviado" name="agraviado"
                                               value="" placeholder="LUIGGI FABIAN, MINCHOLA CHICLE" disabled>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card shadow mb-4">
                                <div class="card-body">

                                    <div class="form-group">
                                        <a>Tipo Atención</a>
                                        <input type="text" class="form-control form-control-user" id="tipoate" name="tipoate"
                                               value="" placeholder="PRESENCIAL" disabled>
                                    </div>

                                    <div class="form-group">
                                        <a>Documento de Evidencia</a>
                                        <input type="text" class="form-control form-control-user" id="docevi" name="docevi" value=""
                                               placeholder="Documentos de registro y afiliación al banco, ticket con el numero y hora de atención"
                                               disabled>
                                    </div>

                                    <div class="form-group">
                                        <a>Pedido de Incidencia</a>
                                        <input type="text" class="form-control form-control-user" id="pedidoInc" name="pedidoInc"
                                               value=""
                                               placeholder="buen día, me gustaria que mejoraran en el area de atencion al cliente, puede observar que demoran demasiado en ello."
                                               disabled>
                                    </div>

                                    <div class="form-group">
                                        <a>Detalles de Incidencia</a>
                                        <input type="text" class="form-control form-control-user" id="detalleinci"
                                               name="detalleinci" value=""
                                               placeholder="Hay mucha demora en a la atención, motivo por el cual se le escribe"
                                               disabled>
                                    </div>

                                    <div class="form-group">
                                        <a>Tipo de contacto</a>
                                        <input type="text" class="form-control form-control-user" id="tipocont" name="tipocont"
                                               value="" placeholder="E-MAIL" disabled>
                                    </div>



                                    <div class="form-group">
                                        <a>Responsable</a> <br>
                                        <select name="selectRes" class="custom-select custom-select-sm form-control form-control-sm">

                                            <option selected>Seleccionar responsable</option>
                                            <option value="value1">LUIS ENRIQUE</option>
                                            <option value="value2">NICOLE KATHERINE</option>
                                            <option value="value3">CRISTIAN ORLANDO</option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="submit" class="btn btn-success btn-user btn-block" value="Guardar">
                                        </div>
                                        <div class="col-6">
                                            <input type="submit" class="btn btn-danger btn-user btn-block" value="Volver">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="/fragments/footer :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{https://liwru.s3.amazonaws.com/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{https://liwru.s3.amazonaws.com/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{https://liwru.s3.amazonaws.com/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{https://liwru.s3.amazonaws.com/js/sb-admin-2.min.js}"></script>
<!-- Page level plugins -->
<script th:src="@{https://liwru.s3.amazonaws.com/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{https://liwru.s3.amazonaws.com/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{https://liwru.s3.amazonaws.com/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{https://liwru.s3.amazonaws.com/js/demo/datatables-demo.js}"></script>

</body>

</html>
